.table th,
.table td {
    /* Set a fixed width for all table columns */
    width: 150px;
    word-wrap: break-word;
    white-space: nowrap;
}

.fixed-column {
    width: 150px;
}

.table td input {
    width: 100%;
    /* Make inputs take up the full width of the cell */
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #8B4513;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}