h2 {
    font-weight: bold;
    color: #333;
}

.add-product-container.form-group {
    margin-bottom: 15px;
}

.add-product-container .form-control {
    height: 40px;
    font-size: 14px;
}

.add-product-container .form-control-file {
    font-size: 14px;
}

.add-product-container button[type="submit"] {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px!important;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

