.container_custom {
    margin: 0 auto;
    font-size: 13px !important;
}

.category-list {
    border: none;
    background-color: #fdf5e6;
    /* nền sáng kiểu OldLace */
    box-shadow: 2px 2px 8px #d2b48c;
    /* bóng nhẹ với sắc tan */
    border-radius: 8px;
    overflow: visible;
}

.category-list .list-group-item {
    font-size: 14px;
    padding: 12px 20px;
    color: #333;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-list .list-group-item:hover {
    background-color: #8B4513;
    /* màu chủ đạo khi hover */
    color: white;
}

.category-list .list-group-item i {
    font-size: 14px;
    margin-right: 8px;
}

.category-item {
    position: relative;
}

.subcategory-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    border: 1px solid #d2b48c;
    border-radius: 7px;
    box-shadow: 0 4px 8px #d2b48c;
    z-index: 1000;
    min-width: 300px;
    height: auto;
    padding: 0cqmin 0;
    display: none;
}

.category-item:hover .subcategory-menu {
    display: block;
}

.subcategory-item {
    padding: 12px 15px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subcategory-item:hover {
    background-color: #8B4513;
    /* màu chủ đạo khi hover */
    color: white;
    border-radius: 7px;
}

/* Carousel */
.carousel-item img {
    height: auto;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

.info-section .info-item {
    background-color: #ffffff;
    box-shadow: 0 2px 12px #d2b48c;
    /* bóng nhẹ với sắc tan */
    border-radius: 8px;
    text-align: center;
    padding: 5px 0px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 1 1 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.info-section .info-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px #d2b48c;
    /* tăng bóng khi hover */
}

.info-section .info-item .me-2 {
    font-size: 25px;
    color: #8B4513;
    /* màu chủ đạo */
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .info-section .info-item {
        margin-bottom: 15px;
    }

    .carousel-item img {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 150px;
    }

    .info-section .info-item span {
        font-size: 14px;
    }
}

.info-item .card-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-item .icon-container {
    margin-right: 15px;
    font-size: 24px;
}

.info-item .text-container {
    font-size: 14px;
    color: #666;
}

.info-item .text-container strong {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.category-list .text-uppercase {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8B4513;
}