/* ------------------ Rating & Review ------------------ */
.ratingBox {
    background-color: #fff7f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.ratingValue {
    font-size: 2.5rem;
    color: #ff007f;
}

.ratingStars {
    color: #ffc107;
}

.ratingCount {
    color: #6c757d;
}

.btnCustom {
    background-color: #fff;
    border: 1px solid #ff007f;
    color: #ff007f;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 0.9rem;
    margin: 0 5px;
}

.btnCustomActive {
    background-color: #ff007f;
    color: #fff;
}

.reviewLike {
    color: #ff007f;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ------------------  / Hỏi – Đáp ------------------ */
.messageItem {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.outgoing {
    justify-content: flex-end;
}

.incoming {
    justify-content: flex-start;
}

.messageContent {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    position: relative;
}

.messageContent strong {
    display: block;
    font-size: 1rem;
    color: #5A5A5A;
    margin-bottom: 5px;
    font-weight: 600;
}

.messageContent p {
    margin: 0;
    color: #444;
    font-size: 0.95rem;
}

.messageContent small {
    display: block;
    margin-top: 5px;
    color: #888;
    font-size: 0.8rem;
}

.outgoing .messageContent {
    background-color: #FADCD9;
    color: #333;
    text-align: right;
}

.incoming .messageContent {
    background-color: #D0E8F2;
    color: #333;
    text-align: left;
    border: 1px solid #ccc;
}

.chatTimestamp {
    font-size: 0.8rem;
    color: #777;
    position: absolute;
    bottom: 2px;
    right: 5px;
}