.forgot-password-container {
    max-width: 400px !important;
    margin: 40px auto;
    padding: 0 15px;
}

/* .form-control {
    padding: 10px 12px;
} */

.form-control:focus {
    border-color: #8B4513;
    box-shadow: none;
}

.btn:hover {
    background-color: #8B4513 !important;
}