.forgot-password-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 0 15px;
}

/* .form-control {
    padding: 10px 12px;
} */

.form-control:focus {
    border-color: #ffc0cb;
    box-shadow: none;
}

.btn:hover {
    background-color: #ffb6c1 !important;
}
