/* Ghi đè style cho nút “x” (dấu x) của thẻ tags */
.ReactTags__remove {
  color: #333 !important;       /* Đổi màu chữ thành màu xám đậm */
  background-color: transparent !important;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

/* Ghi đè style cho thẻ tag */
.ReactTags__tag {
  background: #9b9b9b !important; /* Màu nền của thẻ tag */
  color: #fff !important;          /* Màu chữ của thẻ tag */
  border: none !important;
  padding: 5px 5px !important;
  border-radius: 3px !important;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
}
