/* Navbar.css */
.notification-badge,
.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(255, 255, 255);
    color: rgb(240, 0, 0);
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

.search-container {
    position: relative;
    display: flex;
}

.search-button {
    position: absolute;
    right: 0;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #FFB6C1 !important;
    border: 0px solid !important;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

.search-button:hover {
    background-color: #ff6f91 !important;
}

.dropdown-item:hover {
    background-color: #FF6F91 !important;
    color: white !important;
    border-radius: 7px;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

.nav-link {
    font-weight: bold !important;
    transition: color 0.3s ease;
    /* Hover mượt mà */
}

.nav-link:hover {
    color: #FF6F91 !important;
}

/* Đặt khoảng cách cho NavDropdown */
.promotion-dropdown {
    position: relative !important;
}

.promotion-dropdown .dropdown-menu {
    margin-top: 17px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 240px !important;
    padding: 0 !important;
    border-radius: 7px !important;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

@media (max-width: 1159px) {
    .promotion-dropdown .dropdown-menu {
        margin-top: 27px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 240px !important;
        transition: all 0.3s ease;
        /* Hover mượt mà */
    }
}

.promotion-dropdown-item {
    padding: 10px 15px !important;
    margin: 0 !important;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

.promotion-dropdown-item:hover {
    background-color: #FFB6C1 !important;
    color: white !important;
    transform: translateY(-2px);
    /* Hiệu ứng đẩy nhẹ */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Đổ bóng khi hover */
}

/* Đặt kiểu cho Dropdown Toggle */
.dropdown-toggle {
    border-radius: 7px !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Hover mượt mà */
}

.dropdown-toggle:hover {
    border-radius: 7px !important;
    background-color: #FFB6C1 !important;
    color: white !important;
}

.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 1px !important;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}

.dropdown-item {
    padding: 10px 15px !important;
    margin: 0 !important;
    transition: all 0.3s ease;
    /* Hover mượt mà */
}
.icon_user{
margin-bottom: 2px!important;}