.orders-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.orders-title {
    color: #8B4513;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.orders-table {
    margin-top: 20px;
    border: 1px solid #fdf5e6;
}

.orders-table th,
.orders-table td {
    vertical-align: middle !important;
    text-align: center;
    padding: 10px;
    border: 1px solid #fdf5e6;
}

.orders-table thead {
    background-color: #8B4513;
    color: #fff;
}

.orders-table tbody tr:hover {
    background-color: #f3e0d7;
    cursor: pointer;
}

.orders-table img {
    border-radius: 5px;
    object-fit: cover;
}

.order-modal .modal-header {
    background-color: #8B4513;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #fdf5e6;
}

.order-modal .modal-title {
    font-weight: bold;
}

.order-modal .modal-footer {
    background-color: #fdf5e6;
    border-top: 1px solid #fdf5e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.order-modal select {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #fdf5e6;
    margin-top: 5px;
    background-color: #8B4513;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #8B4513 !important;
    border-color: #fdf5e6 !important;
    color: #fff;
}

.css-hlbajn-MuiRating-label {
    font-size: 30px;
    cursor: inherit;
}