.scroll-to-top {
    position: fixed;
    bottom: 150px;
    right: 35px;
    z-index: 1000;
}
.scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF6F91;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0.8;
}

.scroll-button:hover {
    opacity: 1;
    transform: scale(1.1);
}
.scroll-button .icon {
    color: #fff;
    font-size: 20px;
}