/* StoreLocator.css */
.store-locator .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
}

.store-locator .card-title {
    color: #ff4081;
    font-weight: bold;
}

.store-locator .contact-info {
    color: #ff4081;
    font-weight: bold;
    margin-top: 20px;
}

.store-locator .contact-details {
    margin-top: 10px;
}

.store-locator .map-container {
    width: 100%;
    height: 400px;
    /* Điều chỉnh kích thước bản đồ */
    background-color: #ccc;
    border-radius: 10px;
}